<div class="faq">
    faq
</div>
{% schema %}
    {
        "name": "FAQ",
        "settings": [
            {
                "type": "text",
                "id": "title"
            }
        ]
    }
{% endschema %}